{% extends 'base.html' %}

{% block pageheading %}
Menu
{% endblock %}

{% block main %}
<br>
{% if logged_in %}
    <div><h3>Welcome {{ session["fname"] }}, are you ready to order</h3></div>
{% endif %}
<div class="products">
{% for product in products %}
    <div class="product-box">
    <h3>{{ product[0] }}</h3>
    <p> {{ product[1] }}</p>
    <p><strong>Volume: </strong>{{ product[2] }}</p>
    <p><strong>Price: </strong>{{ product[3] }}</p>
    <img src="/static/images/{{ product[4] }}.jpg" alt="">
    </div>
{% endfor %}
</div>
{% endblock %}